@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/site.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>nat kyrkos bio</title>
    <script type="text/javascript" src="~/Content/JavaScript.js"></script>
</head>
<body style="background-color: #E6E6E6">
        <div class="sidebarleft"></div>
        <div class="sidebarright"></div>
        <div class="sidelineleft"></div>
        <div class="sidelineright"></div>

    <div class="maindiv">
            <a href= '@Url.Action("Index", "Home")'><img class="menu1" src="~/Images/homemenu.png"/></a>
            <a href="#"><img class="menu2" src="~/Images/currentmenu.png"/></a>
            <a href= '@Url.Action("Completed", "Home")'><img class="menu3" src="~/Images/completedmenu.png"/></a>

        <div class="postcontainer">
            <div class="headerbg"><h1>my life in art</h1></div>

            <img style="width: 200px; height: 200px; margin-top: 60px; margin-right: 20px; float: right; box-shadow: 0px 0px 3px black;" src="~/Images/603941_10152241265570328_1095282471_n.jpg" />
            <p style="font-family: Garamond; width: 600px; float: right; padding-right: 60px; padding-top: 30px; text-align: justify">The European languages are members of the same family. Their separate existence is a myth. 
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. 
                Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have 
                uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that 
                of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
            <p style="font-family: Garamond; width: 600px; float: right; padding-right: 60px; padding-top: 30px; text-align: justify">The European languages are members of the same family. Their separate existence is a myth. 
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. 
                Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have 
                uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that 
                of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
                <div class="clear">&nbsp</div>
        </div>

        
    </div>

</body>
</html>
