@{
    ViewBag.Title = "Completed";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/site.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>nat kyrkos art</title>
    <script type="text/javascript" src="~/Content/JavaScript.js"></script>
</head>
    <body>
        <!--<div class="sidebarleft"></div>
        <div class="sidebarright"></div>-->
        
    <div class="pagewrapper">

        <ul style="list-style: none;">

                <li class="menu""><a class="current" href="#"></a></li>

                <li class="menu"><a class="biography" href='@Url.Action("Biography", "Home")'></a></li>

                <li class="menu"><a class="previousactive" href='@Url.Action("Completed", "Home")'></a></li>

                <li class="menu"><a class="home" href='@Url.Action("Index", "Home")'></a></li>

            </ul>

        <div class="clear"></div>

            <h3>my previous work</h3>

        <div class="clear"></div>

        <div class="maindiv">
                        
            <div class="postcontainer">

                <div class="headerbg"><img style="float: left; margin-top: -10px; margin-left: 5px;" src="/Images/pintest.png" />
                    <img style="float: right; margin-top: -10px; margin-right: 2px;" src="/Images/pintest.png" />
                    <h1>Art of Trinity 2013</h1>
                </div>

                <img style="width: 30%; margin-top: 20px; float: left; margin-left: 20px; box-shadow: 0px 0px 3px black" src="~/Images/Trinity-timeline-web-668x341.jpg" />

                <p style="font-family: Garamond; width: 400px; float: left; padding-left: 30px; text-align: justify; padding-right: 20px; font-size: 14px; padding-bottom: 20px">The European languages are members of the same family. Their separate existence is a myth. 
                  For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. 
                  Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have 
                  uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that 
                  of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>

                <div class="clear"></div>

            </div>

                <div class="clear"></div>

            <div class="postcontainer">

                <div class="headerbg"><img style="float: left; margin-top: -10px; margin-left: 5px;" src="~/Images/pintest.png" />
                    <img style="float: right; margin-top: -10px; margin-right: 2px;" src="~/Images/pintest.png" />
                    <h2>University Work 2008</h2>
                </div>

                <img style="width: 30%; height: 179px; margin-top: 10px; margin-right: 20px; float: right; box-shadow: 0px 0px 3px black" src="~/Images/art_1.jpg" />

                <p style="width: 400px ;font-family: Garamond; float: right; padding-right: 30px; text-align: justify; padding-left: 20px; font-size: 14px; padding-bottom: 20px">The European languages are members of the same family. Their separate existence is a myth. 
                  For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. 
                  Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have 
                  uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that 
                  of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>

                <div class="clear"></div>

            </div>


            <div class="postcontainer">

                <div class="headerbg"><img style="float: left; margin-top: -10px; margin-left: 5px;" src="~/Images/pintest.png" />
                    <img style="float: right; margin-top: -10px; margin-right: 2px;" src="~/Images/pintest.png" />
                    <h1>Art of Trinity 2013</h1>
                </div>

                <img style="width: 30%; margin-top: 20px; float: left; margin-left: 20px; box-shadow: 0px 0px 3px black" src="~/Images/Trinity-timeline-web-668x341.jpg" />

                <p style="font-family: Garamond; width: 400px; float: left; padding-left: 30px; text-align: justify; padding-right: 20px; font-size: 14px; padding-bottom: 20px">The European languages are members of the same family. Their separate existence is a myth. 
                  For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. 
                  Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have 
                  uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that 
                  of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>

                <div class="clear"></div>

            </div>



        </div>

                <p>&nbsp</p>
    

    </div>

        
        
    </body>
</html>

