@{
    ViewBag.Title = "Completed";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/site.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>nat kyrkos art</title>
    <script type="text/javascript" src="~/Content/JavaScript.js"></script>
</head>
    <body style="background-color: #E6E6E6">
        <div class="imgdiv">
            <h1>Art of Trinity</h1>
            <img style="width: 300px; height: 179px; padding-top: 30px; float: left" src="~/Images/Trinity-timeline-web-668x341.jpg" />
            <p style="font-family: Garamond; width: 600px; float: left; padding-left: 40px; padding-top: 30px; text-align: justify">The European languages are members of the same family. Their separate existence is a myth. 
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. 
                Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have 
                uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that 
                of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
            <p class="clear"></p>
            <h1 style="padding-top: 30px;">University Work</h1>
            <img style="width: 300px; height: 179px; padding-top: 30px; float: right" src="~/Images/art_1.jpg" />
            <p style="font-family: Garamond; width: 600px; float: right; padding-right: 40px; padding-top: 30px; text-align: justify">The European languages are members of the same family. Their separate existence is a myth. 
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words. 
                Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have 
                uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that 
                of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>



        </div>
        
    </body>
</html>

