@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/site.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>nat kyrkos art</title>
    <script type="text/javascript" src="~/Content/JavaScript.js"></script>
</head>
<body style="background-color: #E6E6E6">
    <div class="imgdiv">
        <img class="imgblock2" src="~/Images/inproduction.jpg" style="padding-right: 20px;"/>
        <a href= '@Url.Action("Completed", "Home")'><img class="imgblock2" src="~/Images/completedwork.jpg" style="padding-right: 20px;"/></a>
        <img class="imgblock2" src="~/Images/contact.jpg"/>
    </div>





</body>
</html>