@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/site.css"/>
    <title>Nat Kyrkos Portfolio</title>
</head>
<body>
        <img class="top" src="~/Images/toplogo.png" />

        <p>Hello visitor. My name is Natalie Kyrkos and I am a professional artist currently working on multiple projects in and around Leeds. Please
           take the time to browse my portfolio and if you would like to get in contact with me, my email address is located at the bottom of the page.</p>

    <div>
        <table>
            <tr>
                <td><a href="http://noisefestival.com/node/12099"><img class="div" src="http://noisefestival.com/sites/default/files/imagecache/work/059.jpg" /></a></td>
                <td><a href="http://noisefestival.com/node/12095"><img class="div" src="http://noisefestival.com/sites/default/files/imagecache/work/005__copy.jpg" /></a></td>
                <td><a href="http://noisefestival.com/node/12089"><img class="div" src="http://noisefestival.com/sites/default/files/imagecache/work/121__copy.jpg" /></a></td>
                <td><a href="http://noisefestival.com/node/12096"><img class="div" src="http://noisefestival.com/sites/default/files/imagecache/work/first_sythetic_bird_and_bricks_print.jpg" /></a></td>
                <td><a href="http://noisefestival.com/node/12098"><img class="div" src="http://noisefestival.com/sites/default/files/imagecache/work/054.jpg" /></a></td>
            </tr>
        </table> 
    </div>

    <div class="lowerbody">
    </div> 

</body>
</html>