body {
    position:absolute;
	margin:0px !important;
	padding:0px !important;
	min-height:100%;
	min-width:100%;
    background-color: #3a3a3a;
}

.pagewrapper {

    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}


.imgdiv {
    width: 960px;
    height: 594px;
    margin: 0 auto;
    margin-top: 7%;
}

.maindiv {
    width: 95%;
    min-height: 604px;
    margin-left: auto;
    margin-right: auto;
}

.sidebarleft {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    /*background-image: url(http://localhost:10549/Images/sidebars.png);*/
    background-image: url(../Images/sidebars.png);
    background-repeat: repeat-y;
}

.logoholder {
    width: 100%;
    height: 213px;
    margin-top: 2%;
}

h3 {
    font-family: 'Lucida Calligraphy';
    font-size: 45px;
    margin-left: 30px;
    line-height: 213px;
    margin-top: 0;
    margin-bottom: 0;
    color: #f39000;
    float: left;
}

h4 {
    font-family: 'Lucida Calligraphy';
    font-size: 45px;
    margin-left: 100px;
    line-height: 213px;
    margin-top: 0;
    margin-bottom: 0;
    color: #f39000;
    float: left;
}

ul {
    list-style-type: none;
    margin-left: 3px;
    margin-top: 0;
    padding-bottom:3px;
    padding-left: 0;
    padding-top: 3px;
    padding-right: 0;
}

li {
    display:inline;
    background-color: #f39000;
    height: 100%;
}

    li:hover {
        background-color: #ce7a00;
    }

.menu {
    text-decoration: none;
    color: black;
    font-family: Garamond;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

    .menu:hover {
        background-color: #ce7a00;
    }

    .menu active {
        background-color: #ce7a00;
    }

.sidebarright {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100%;
    /*background-image: url(http://localhost:10549/Images/sidebars.png);*/
    background-image: url(../Images/sidebars.png);
    background-repeat: repeat-y;
}

.sidelineleft {
    top: 0px;
    left: 20%;
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: #f39000;
}

.topline {
    margin-top: 0px;
    width: 100%;
    background-color: #f39000;
    height: auto;
    box-shadow: 0px 0px 3px black;
}

.headseparator {
    margin-top: 4%;
    width: 100%;
    background-color: #bdbdbd;
    height: 3px;
}


.sidelineright {
    top: 0px;
    right: 20%;
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: #f39000;
}


.imgblock2 {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px, 0px, 10px, black;
    width: 300px;
    height: 594px;
}


h1 {
    padding-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Bell MT', 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    text-align: right;
    box-shadow: 0px 0px 3px black;
}

h2 {
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Bell MT', 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    text-align: left;
    box-shadow: 0px 0px 3px black;
}

.clear {
    clear: both;
}

.postcontainer {
    background-color: #cacaca; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    box-shadow: 0px 0px 3px black;
}

.headerbg {
    margin-top: 30px; 
    background-color: #ddd;
}

.biogpara {
    font-family: Garamond; 
    float: right; 
    margin-right: 40px; 
    margin-top: 10px; 
    width: 70%;
    text-align: justify
}

