img.top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 20px;    
}

.linetop {
    margin-top: 30px;
    clear:both;
    width:100%;
    background-color:#d1d1d1;
    height:1px;

}

.linebot {
    margin-bottom: 30px;
    clear: both;
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
}

.clearline {
    clear: both;
    padding-bottom: 30px;
}

img.div {
    width: 300px;
    height: 150px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom:50px;
}

div {
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: justify;
    font-family: Garamond;
    padding: 10px 15px 10px 15px;
    font-style: italic;
}

.toptext {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-style: italic;
}

.bottext {
    padding: 5px 15px 10px 0px;
    font-style: normal;
    font-size: 12px;
}

.floatleft {
    float: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    opacity: 0.4;
}

    td:hover {
        opacity: 1;
    }


.lowerbody {
    margin-left: 100px;
    float: left;
    padding: 10px 10px 10px 10px;
    width: 800px;
    height: 300px;
    border: 1px solid black;
    font-family: Garamond;
}

.middletext {
    float: left;
    padding-left: 30px;
    padding-top: 50px;
    width: 650px;
}
