body {
    position:absolute;
	margin:0px !important;
	padding:0px !important;
	min-height:100%;
	min-width:100%;
    background-color: #b7b7b7;
}

.pagewrapper {

    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../Images/pagebackground.png);
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 100px black;

}


.imgdiv {
    width: 960px;
    height: 594px;
    margin: 0 auto;
    margin-top: 7%;
}

.maindiv {
    width: 95%;
    min-height: 604px;
    margin-left: auto;
    margin-right: auto;
}

.sidebarleft {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 100%;
    background-image: url(../Images/sidebars.png);
    background-repeat: repeat-y;
}

.logoholder {
    width: 100%;
    height: 213px;
    margin-top: 2%;
}

h3 {

    font-family: Broadway;
    font-size: 32px;
    color: #ddd;
    text-align: center;
    padding-top: 20px;
    padding-bottom:20px;
}

h4 {
    font-family: 'Lucida Calligraphy';
    font-size: 32px;
    margin-left: 10%;
    line-height: 213px;
    margin-top: 0;
    margin-bottom: 0;
    color: #f39000;
    float: left;
}



.imgblock2 {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px, 0px, 10px, black;
    width: 300px;
    height: 594px;
}


h1 {
    padding-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Bell MT', 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    text-align: right;
    box-shadow: 0px 0px 3px black;
}

h2 {
    padding-left: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Bell MT', 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    text-align: left;
    box-shadow: 0px 0px 3px black;
}

.clear {
    clear: both;
}

.postcontainer {
    background-color: #cacaca; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    box-shadow: 0px 0px 3px black;
    margin-right: 30px;
    margin-left: 30px;
}

.headerbg {
    margin-top: 30px; 
    background-color: #ddd;
}

.biogpara {
    font-family: Garamond; 
    float: right; 
    margin-right: 40px; 
    margin-top: 10px; 
    width: 400px;
    font-size: 14px;
    text-align: justify;
}

.posttext {
    font-family: Garamond; 
    width: 400px; 
    float: left; 
    padding-left: 30px; 
    text-align: justify; 
    padding-right: 20px; 
    font-size: 14px; 
    padding-bottom: 20px
}

.biogpara3onward {
    font-family: Garamond; 
    margin-right: 40px; 
    margin-top: 10px;
    margin-left: 40px;
    width: 600px;
    font-size: 14px;
    text-align: justify;
}

/*MENU ITEMS*/

li.menu {
    float: right;
    margin-top: 2px;
    margin-right: 10px;
}

a.current {

    background: url(../Images/menu.png); 
    width: 84px; 
    height: 20px; 
    background-position: 252px 0;
    display:block;

}

    a.current:hover {

        background-position: 252px -19px;

    }

a.biography {

    background: url(../Images/menu.png); 
    width: 84px; 
    height: 20px; 
    background-position: 168px 0;
    display:block;

}

    a.biography:hover {

        background-position: 168px -19px;

    }

a.biographyactive {

    background: url(../Images/menu.png); 
    width: 84px; 
    height: 20px; 
    background-position: 168px -38px;
    display:block;

}

a.biographyactive:hover {

        background-position: 168px -19px;

    }

a.previous {

    background: url(../Images/menu.png);  
    width: 84px; 
    height: 20px; 
    background-position: 84px 0;
    display:block;

}

    a.previous:hover {

        background-position: 84px -19px;

    }

a.previousactive {

    background: url(../Images/menu.png);  
    width: 84px; 
    height: 20px; 
    background-position: 84px -38px;
    display:block;

}

    a.previousactive:hover {

        background-position: 84px -19px;

    }

a.home {

    background: url(../Images/menu.png); 
    width: 84px; 
    height: 20px; 
    background-position: 0 0;
    display:block;

}

    a.home:hover {

        background-position: 0 -19px;

    }

a.homeactive {

    background: url(../Images/menu.png); 
    width: 84px; 
    height: 20px; 
    background-position: 0 -38px;
    display:block;

}

    a.homeactive:hover {

        background-position: 0 -19px;

    }

